<template>
  <section>
    <input type="text" @input="search" placeholder="Search for a Country" />
    <p v-if="isSearching">Searching...</p>
    <div v-if="result.length > 0">
      <router-link
        v-for="country in result"
        :key="country.alpha3Code"
        :to="'/country/' + country.alpha3Code"
      >
        <img :src="country.flag" :alt="country.name + ' flag'" />
        <span>{{ country.name }}</span>
      </router-link>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from "vue";
import searchCountry, { SearchCountry } from "@/services/searchCountry";

interface SearchCountryData {
  debounce: number;
  isSearching: boolean;
  query: string;
  result?: SearchCountry[];
}

interface SearchEvent {
  target: {
    value: string;
  };
}

export default Vue.extend({
  name: "SearchCountry",
  data(): SearchCountryData {
    return {
      query: "",
      result: [],
      debounce: 0,
      isSearching: false,
    };
  },
  methods: {
    async search(e: SearchEvent) {
      this.query = "";
      clearTimeout(this.debounce);

      const input = e.target.value.trim().toLowerCase();
      if (!input) {
        this.result = [];
        this.isSearching = false;
        return;
      }
      this.isSearching = true;

      this.debounce = setTimeout(async () => {
        this.query = input;
        const res = await searchCountry(input);
        this.result = res.data;
        this.isSearching = false;
      }, 800);
    },
  },
});
</script>

<style scoped>
section {
  width: 70%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

input {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0.8rem;
  border: 0.5px solid grey;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  background-color: #fafafa;
  border-radius: 0.8rem;
  margin-top: 1rem;
  height: 30px;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.01);
}

p {
  margin-top: 0.8rem;
  text-align: center;
}

img {
  width: 40px;
  object-fit: contain;
  margin-right: 1rem;
}
</style>
