<template>
  <div class="wrapper">
    <section v-if="hasLoaded">
      <section v-if="hasFailed">
        Failed to get country data for {{ $route.params.code }}.
        <router-link to="/">Back to Home</router-link>
      </section>
      <section v-else>
        <country-details :country="country" />
      </section>
    </section>
    <p v-else>Loading...</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import getCountryByCode, { CountryByCode } from "@/services/getCountryByCode";
import CountryDetails from "@/components/CountryDetails";

interface CountryData {
  hasFailed: boolean;
  hasLoaded: boolean;
  country?: CountryByCode;
}

export default Vue.extend({
  components: { CountryDetails },
  name: "Country",
  data(): CountryData {
    return {
      hasFailed: false,
      hasLoaded: false,
    };
  },
  methods: {
    async getCountryData() {
      this.hasLoaded = false;
      const countryCode = this.$route.params.code;
      const res = await getCountryByCode(countryCode);
      this.hasLoaded = true;
      this.hasFailed = res.fail;
      this.country = res.data;
    },
  },
  created() {
    this.getCountryData();
  },
});
</script>

<style scoped></style>
