<template>
  <search-country />
</template>

<script lang="ts">
import Vue from "vue";
import SearchCountry from "@/components/SearchCountry";

export default Vue.extend({
  name: "Home",
  components: {
    SearchCountry,
  },
});
</script>
