<template>
  <nav>
    <router-link to="/" class="home-link">
      <h1>Where in the world?</h1>
    </router-link>
  </nav>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Navbar",
});
</script>

<style scoped>
nav {
  padding: 1.5rem;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  color: black;
  text-decoration: none;
}

.home-link h1 {
  margin: 0;
}
</style>
