<template>
  <div>
    <router-link to="/">Back to Home</router-link>
    <div class="country-details">
      <section>
        <h2 class="country--name">{{ country.name }}</h2>
        <img :alt="`${country.name} flag`" :src="country.flag" width="100%" />
      </section>
      <section>
        <h2 class="country--population">
          Population: {{ country.population }}
        </h2>
        <div
          class="country--border-countries"
          v-if="country.borders.length > 0"
        >
          <h2>Border Countries</h2>
          <ul>
            <li v-for="borderCountry in country.borders" :key="borderCountry">
              <router-link :to="borderCountry">
                {{ borderCountry }}
              </router-link>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "CountryDetails",
  props: {
    country: {
      type: Object,
      required: true,
    },
  },
});
</script>

<style scoped>
.country-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  column-gap: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 2rem;
}

@media (max-width: 772px) {
  .country-details {
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>
