<template>
  <div id="app">
    <navbar />
    <router-view :key="$route.path" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Navbar from "@/components/Navbar";

export default Vue.extend({
  components: {
    Navbar,
  },
  name: "App",
});
</script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.wrapper {
  max-width: 90%;
  margin-left: 5rem;
  margin-right: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
</style>
